/* Estilos gerais */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body{
  height: 100vh;
}

/* Estilos da barra superior */
.page-header {
    background-color: #222831; /* Cor de fundo da barra */
    color: #fff; /* Cor do texto */
    padding: 10px 4%; /* Espaçamento interno */
    width: 100%; /* Largura total */
    position: fixed; /* Fixa no topo da tela */
    top: 0; /* Posiciona no topo */
    left: 0; /* Alinha à esquerda */
    z-index: 1000; /* Certifique-se de que esteja sobreposto a outros elementos */

}

/* Estilos do título da barra superior */
  .page-title {
    margin: 0; /* Remove margem padrão */
    padding-left: 20px; /* Espaçamento interno à esquerda */
  }
  

/*Menu Lateral*/
nav.menu-lateral{
    width: 240px;
    height: 100%;
    background-color: #31363F;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #76ABAE;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

.btn-expandir{
  width: 100%;
  padding-left: 5px;
}

.btn-expandir > i{
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

ul li.item-menu{
  transition: .5s;
}

ul li.item-menu:hover{
  background: #76ABAE;
}

ul li.item-menu a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 4%;
  display: flex;
  line-height: 40px;
}

ul li.item-menu a .txt-link{
  margin-left: 20px;
}

ul li.item-menu a .icon > i{
  font-size: 30px;
}

/* Estilos do conteúdo principal */
.content {

    padding-top: 80px; /* Altura da .page-header + 20px de espaçamento */
    max-width: 80%; /* Define a largura máxima do conteúdo */
    margin: 0 auto auto 260px; /* Centraliza o conteúdo na página */
}

/* Profile Picture */
.profile-pic{
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.profile-menu .dropdown-menu {
    right: 0;
    left: unset;
}
.profile-menu .fa-fw {
    margin-right: 10px;
}

.toggle-change::after {
    border-top: 0;
    border-bottom: 0.3em solid;
}

.bi-thermometer-high {
    background-image: url("./resources/icons/thermometer.svg");
}
.small-chart {
  max-width: 300px; /* Define a largura máxima do gráfico */
  max-height: 300px; /* Define a altura máxima do gráfico */
  margin: auto; /* Centraliza o gráfico */
}
i{
  font-size: 25px;
}